@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka:wght@300..700&family=Russo+One&display=swap");
@import "tailwindcss";

@theme {
  /* FONTS */
  --font-brand: "Bangers", cursive;
  --font-heading: "Russo One", sans-serif;
  --font-body: "Fredoka", sans-serif;

  /* COLORS */
  --color-pokemon-primer: #fdc700;
  --color-pokemon-sekunder: #fa442a;
  --color-pokemon-dblue: #00364f;
  --color-pokemon-red: #ef233c;
  --color-pokemon-lblue: #ebf2fa;
  --color-pokemon-hover: #fc7b28;
}

html {
  scroll-behavior: smooth;
}
