---

---

<header class="fixed top-0 left-0 w-full z-30 bg-white/20 backdrop-blur-md">
  <nav class="flex items-center w-full px-15 py-3 font-medium">
    <a href="#" class="text-red-500 text-xl">Pokemon<span class="text-amber-200">GO</span></a>
    <ul class="absolute left-1/2 -translate-x-1/2 flex items-center gap-6">
      <li class="hover:text-gray-400"><a href="/">Home</a></li>
      <li class="hover:text-gray-400"><a href="/pokedex">Pokédex</a></li>
    </ul>
  </nav>
</header>
